@model Rocky.Models.ViewModels.ProductVM

@{
    var title = "Create";
}

@if (Model.product.ID != 0)
{
    //edit
    title = "Edit";
}


<form asp-action="Upsert" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @if (Model.product.ID != 0)
    {
        //edit
        <input type="hidden" asp-for="product.ID" />
    }
    <div class="border p-4">
        <div class="form-group row">
            <h2 class="text-info">@title</h2>
        </div>

        <div class="row">
            <div class=" col-8">
                <div class="form-group row">
                    <div class="col-4">

                        <label asp-for="product.Name" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="product.Name" class="form-control" />
                        <span asp-validation-for="product.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">

                        <label asp-for="product.Description" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="product.Description" class="form-control summernote"></textarea>
                        @* <input asp-for="product.Description" class="form-control" />*@
                        <span asp-validation-for="product.Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">

                        <label asp-for="product.Price" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="product.Price" class="form-control" />
                        <span asp-validation-for="product.Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">

                        <label asp-for="product.Image" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadbox" multiple class="form-control"  />
                        <span asp-validation-for="product.Image" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">

                        <label asp-for="product.CategoryId" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="product.CategoryId" class="form-control" asp-items="Model.ListItems">
                            <option disabled selected>--selected--</option>
                        </select>
                        <span asp-validation-for="product.CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            @if (Model.product.ID != 0)
                            {
                                //Edit
                                <input type="submit" value="Save" class="btn btn-info" />

                            }
                            else
                            {
                                <input type="submit" value="Create" class="btn btn-primary" />
                            }
                        </div>
                        <div class="col">
                            <a class="btn btn bg-success" asp-action="Index"><i class="fas fa-arrow-circle-left"></i> &ensp;Back to List</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="col-3 p-4">
                    @* to show image during edit *@
                    @if (Model.product.ID == 0 || Model.product.Image==null) //create
                    {

                    }
                    else { 
                        <img src="@WebConstant.ImgPath@Model.product.Image" width="200" height="200"  style="border-radius:5px; border:1px solid #4cff00"/>
                        }

                </div>
               

            </div>
        </div>
    </div>





   
</form>
@*<script>
    $(document).ready(function () {
        $('.summernote').summernote(
            {
                height:250
            }
        );
    });
</script>*@